<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/0d01bd33-a615-4f22-9b1d-3dde4fcb1f53/resourceGroups/SOSdesaparecidos/providers/Microsoft.Web/sites/SOSdesaparecidos</ResourceId>
    <ResourceGroup>SOSdesaparecidos</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://sosdesaparecidos.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>sosdesaparecidos.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>SOSdesaparecidos</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$SOSdesaparecidos</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="MS_TableConnectionString" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:sosdesaparecidosdbserver.database.windows.net,1433;Initial Catalog=SOSdesaparecidos_db;User ID=patxi@sosdesaparecidosdbserver;Password=admin_1234" Name="Data Source=tcp:sosdesaparecidosdbserver.database.windows.net,1433;Initial Catalog=SOSdesaparecidos_db;User Id=patxi@sosdesaparecidosdbserver;Password=admin_1234" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(localdb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-SOSdesaparecidos.Azure.Backend-20170502063339.mdf;Initial Catalog=aspnet-SOSdesaparecidos.Azure.Backend-20170502063339;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\MS_TableConnectionString_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(localdb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-SOSdesaparecidos.Azure.Backend-20170502063339.mdf;Initial Catalog=aspnet-SOSdesaparecidos.Azure.Backend-20170502063339;Integrated Security=True;MultipleActiveResultSets=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="MS_TableConnectionString-Web.config Connection String">
      <ParameterValue>data source=tcp:sosdesaparecidosdbserver.database.windows.net,1433;initial catalog=SOSdesaparecidos_db;user id=patxi@sosdesaparecidosdbserver;password=admin_1234;MultipleActiveResultSets=True</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>